{% load static %}
<link rel="stylesheet" href="{% static "css/manager/add_item.css" %}">
 {{ form.media }}
<div id="add_area" class="add-item hidden">
    <div class="title-area">
        <h2>상품 등록하기</h2>
        <span id="close-btn" class="close-btn">닫기</span>
    </div>
    <!-- 상품 정보 입력 -->
    <form action="{% url "manager:create_item" %}"
          method="post"
          enctype="multipart/form-data">
        {% csrf_token %}
        <div class="item-info">
            <div class="form-group">
                <div class="form-tit">
                    <label for="item_num">상품 번호</label>
                </div>
                <div class="form-conts">
                    <input type="text"
                           id="item_num"
                           class="krds-input"
                           name="item_num"
                           oninput="onlyNumber(this)"
                           placeholder="미입력시 자동 생성">
                </div>
            </div>
            <div class="form-group">
                <div class="form-tit">
                    <label for="item_title">상품 명</label>
                </div>
                <div class="form-conts">
                    <input type="text"
                           id="item_title"
                           class="krds-input"
                           placeholder="상품 명"
                           name="item_title"
                           required>
                </div>
            </div>
            <!-- file upload -->
            <div class="krds-file-upload line">
                <!-- 상단 -->
                <div class="file-head">
                    <h3 class="tit">썸네일</h3>
                    <p>상품 썸네일 이미지는 1개이상 등록해주세요. (최대 5개)</p>
                </div>
                <!-- 업로드 영역 -->
                <div class="file-upload" id="drop-area">
                    <p class="txt">이미지를 드래그하거나 파일선택 버튼을 눌러주세요.</p>
                    <div class="file-upload-btn-wrap">
                        <input type="file"
                               name="images"
                               id="file-upload"
                               accept="image/*"
                               name="images"
                               multiple
                               required>
                        <label for="file-upload" class="krds-btn medium">파일선택</label>
                    </div>
                </div>
                <!-- 썸네일 리스트 -->
                <div class="file-list">
                    <div class="total">
                        <span class="current">0개</span> / 5개
                    </div>
                    <ul class="upload-list" id="preview-list">
                        <!-- JS로 썸네일 생성 -->
                    </ul>
                    <div class="upload-delete-btn">
                        <button type="button" class="krds-btn xsmall tertiary" id="delete-all">전체 삭제</button>
                    </div>
                </div>
            </div>
            <!-- //file upload -->
            <div class="form-tit">
                <label>상품 설명</label>
            </div>
            {{ form.description }}
            <div class="form-group">
                <div class="form-tit">
                    <label for="select_name">카테고리</label>
                </div>
                <div class="form-conts">
                    <select id="select_name" name="item_cate" class="krds-form-select" title="선택">
                        <option value="농산물">농산물</option>
                        <option value="수산물">수산물</option>
                        <option value="축산물">축산물</option>
                        <option value="가공식품">가공식품</option>
                        <option value="김치">김치</option>
                        <option value="젓갈">젓갈</option>
                        <option value="기타">기타</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="form-tit">
                    <label for="select_tex">세액</label>
                </div>
                <div class="form-conts">
                    <select id="select_tex" name="select_tex" class="krds-form-select" title="선택">
                        <option value="과세">과세</option>
                        <option value="면세">면세</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="form-tit">
                    <label for="item_price">상품 가격</label>
                </div>
                <div class="form-conts">
                    <input type="text"
                           id="item_price"
                           class="krds-input"
                           placeholder="상품 가격"
                           name="item_price"
                           oninput="onlyPrice(this)"
                           required>
                </div>
            </div>
            <div class="form-group">
                <div class="form-tit">
                    <label for="item_origin">원산지</label>
                </div>
                <div class="form-conts">
                    <input type="text"
                           id="item_origin"
                           class="krds-input"
                           placeholder="원산지"
                           name="item_origin"
                           required>
                </div>
            </div>
            <div class="form-group">
                <div class="form-tit">
                    <label for="delivery_1">배송비</label>
                </div>
                <div class="form-conts">
                    <input type="text"
                           id="delivery_1"
                           class="krds-input"
                           placeholder="배송비"
                           name="delivery_1"
                           oninput="onlyPrice(this)"
                           required>
                </div>
            </div>
            <div class="form-group">
                <div class="form-tit">
                    <label for="delivery_2">반품 배송비</label>
                </div>
                <div class="form-conts">
                    <input type="text"
                           id="delivery_2"
                           class="krds-input"
                           placeholder="반품 배송비"
                           name="delivery_2"
                           oninput="onlyPrice(this)"
                           required>
                </div>
            </div>
            <div class="btn">
                <button type="submit" class="krds-btn secondary">등록</button>
            </div>
        </div>
    </form>
    <!-- 상품 정보 입력 -->
</div>
