{% load static %}
{% load django_browser_reload %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <title>남도청년 관리자</title>
        <!-- KRDS CSS -->
        <link href="https://cdn.jsdelivr.net/npm/krds-uiux@1.0.3/resources/cdn/krds.min.css"
              type="text/css"
              rel="stylesheet" />
        <script defer
                src="https://cdn.jsdelivr.net/npm/krds-uiux@1.0.3/resources/cdn/krds.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/manager/base.css' %}">
        {% block extend_css %}
        {% endblock extend_css %}
    </head>
    <body>
        <header id="krds-header">
            <div class="header-in">
                <div class="header-container">
                    <div class="inner">
                        <div class="header-branding">
                            <h2>
                                <a href="{% url "manager:index" %}">
                                    <span>남도 청년 관리자</span>
                                </a>
                            </h2>
                            <div class="header-actions">
                                <a href="{% url "manager:logout_view" %}" class="btn-navi login">로그아웃</a>
                                <a href="#" id="all-menu" class="btn-navi all">전체</a>
                            </div>
                        </div>
                    </div>
                </div>
                <nav class="krds-main-menu">
                    <div class="inner">
                        <ul class="gnb-menu">
                            <li>
                                <a href="{% url "manager:items" %}"
                                   class="gnb-main-trigger is-link"
                                   data-trigger="gnb">상품관리</a>
                            </li>
                            <li>
                                <a href="#" class="gnb-main-trigger is-link" data-trigger="gnb">
                                    <span>주문관리</span>
                                    <div class="krds-badge-wrap">
                                        <span class="krds-badge bg-point number">5</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="gnb-main-trigger is-link" data-trigger="gnb">
                                    <span>배송관리</span>
                                    <div class="krds-badge-wrap">
                                        <span class="krds-badge bg-point number">5</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="gnb-main-trigger is-link" data-trigger="gnb">
                                    <span>예치금관리</span>
                                    <div class="krds-badge-wrap">
                                        <span class="krds-badge bg-point number">5</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="{% url "manager:user_list" %}" class="gnb-main-trigger is-link" data-trigger="gnb">
                                    <span>회원관리</span>
                                    <div class="krds-badge-wrap">
                                        <span class="krds-badge bg-point number">5</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!-- //메인메뉴 : 모바일 -->
            <div id="mobile" class="nav-mobile hidden">
                <div class="btn-area">
                    <button type="button" id="btn-close" class="krds-btn small">닫기</button>
                </div>
                <ul class="menu-area">
                    <li class="menu">
                        <a href="{% url "manager:items" %}"
                           class="gnb-main-trigger is-link"
                           data-trigger="gnb">상품관리</a>
                    </li>
                    <li class="menu">
                        <a href="#" class="gnb-main-trigger is-link" data-trigger="gnb">주문관리</a>
                    </li>
                    <li class="menu">
                        <a href="#" class="gnb-main-trigger is-link" data-trigger="gnb">배송관리</a>
                    </li>
                    <li class="menu">
                        <a href="#" class="gnb-main-trigger is-link" data-trigger="gnb">예치금관리</a>
                    </li>
                    <li class="menu">
                        <a href="#" class="gnb-main-trigger is-link" data-trigger="gnb">회원관리</a>
                    </li>
                </ul>
            </div>
        </header>
        <main>
            <div class="index-wrap">
                {% block contents %}
                {% endblock contents %}
            </div>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="{% static "js/manager/base.js" %}"></script>
        {% block extend_js %}
        {% endblock extend_js %}
        {% django_browser_reload_script %}
    </body>
</html>
