{% extends "manager/base.html" %}
{% load static %}
{% block extend_css %}
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="{% static "css/manager/index.css" %}">
{% endblock extend_css %}
{% block contents %}
    <div class="index">
        <div class="top-menus" id="top-menus">
            <div class="menu">
                <span>주문</span>
                <span>0</span>
                <span>건</span>
            </div>
            <div class="menu">
                <span>주문 취소</span>
                <span>0</span>
                <span>건</span>
            </div>
            <div class="menu">
                <span>미배송</span>
                <span>0</span>
                <span>건</span>
            </div>
            <div class="menu">
                <span>반품요청</span>
                <span>0</span>
                <span>건</span>
            </div>
            <div class="menu">
                <span>예치금 신청</span>
                <span>0</span>
                <span>건</span>
            </div>
            <div class="menu">
                <span>환불 신청</span>
                <span>0</span>
                <span>건</span>
            </div>
            <div class="menu">
                <span>신규 회원</span>
                <span>0</span>
                <span>건</span>
            </div>
        </div>
        <div class="order_case">
            <span>주문 건</span>
            <input type="text" id="dateRange" class="form-control" placeholder="날짜 선택">
            <div class="chart"></div>
        </div>
        <div class="order_value">주문 금액</div>
    </div>
{% endblock contents %}
{% block extend_js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static "js/manager/index.js" %}"></script>
{% endblock extend_js %}
