{% load static %}
<link rel="stylesheet" href="{% static "css/manager/item_detail.css" %}">
<div id="item_detail" class="hidden">
    <div class="header">
        <i class="svg-icon ico-popup-close" id="item_detail_off"></i>
    </div>
    <div class="item_header">
        <div class="carousel">
            <div class="carousel_img" id="carousel_wrapper">
                <div class="img">123</div>
            </div>
            <div class="carousel_btn">
                <div class="nav-btn" id="previous_btn">&lt;</div>
                <div class="indicator">
                    <span id="current">1</span> / <span id="total"></span>
                </div>
                <div class="nav-btn" id="next-btn">&gt;</div>
            </div>
        </div>
        <div class="item_info">
            <div>
                <span class="krds-badge bg-light-primary" id="status"></span>
                <span class="krds-badge bg-light-success" id="tex"></span>
                <span class="krds-badge bg-light-gray" id="origin"></span>
            </div>
            <h1 id="modal_title"></h1>
        </div>
        <div class="item_info">
            <span class="sub_title">판매가격</span>
            <span id="modal_price"></span>
            <span>원</span>
        </div>
        <div class="item_info">
            <span class="sub_title">기본 배송비</span>
            <span id="item_delivery_1"></span>
            <span>원</span>
        </div>
        <div class="item_info">
            <span class="sub_title">반품·교환 배송비</span>
            <span id="item_delivery_2"></span>
            <span>원</span>
        </div>
        <h2>상품 상세 설명</h2>
        <div id="description"></div>
    </div>
</div>
