{% load static %}
{% block extend_css %}
    <link rel="stylesheet" href="{% static "css/config/footer.css" %}">
{% endblock extend_css %}
<footer>
    <div class="top-menu">
        <div class="icons">
            <img src="{% static "images/main/icon/youtube.png" %}"
                 alt="#"
                 width=""
                 height="">
            <img src="{% static "images/main/icon/instagram.png" %}"
                 alt="#"
                 width=""
                 height="">
        </div>
        <div class="time-desc">
            <span>평일 10:00 - 18:00</span>
            <span>점심시간 12:30 - 13:30</span>
            <span>주말 및 공휴일 제외</span>
            <span>010-2275-2023</span>
        </div>
    </div>
    <div class="bt-menu">
        <div class="bt-top-menu">
            <span>회사소개</span>
            <span>이용안내</span>
            <span>개인정보처리방침</span>
            <span>이용약관</span>
            <span>입점제안</span>
        </div>
        <div class="bt-bt-menu">
            <div class="left-con">
                <div>
                    <span>남도청년</span>
                    <span>대표자 : 박장규</span>
                    <span>주소 : 전라남도 목포시 신흥로 45번길 13 (상동,동아아파트) 104동 13층 6호</span>
                    <span>개인정보책임자 : 윤성현</span>
                </div>
                <div>
                    <span>사업자 번호 : 276-34-00617</span>
                    <span>통신판매 신고번호 : 제2023-전남목포-0231</span>
                </div>
                <div>
                    <span>TEL : 010-2275-2023</span>
                    <span>FAX : 010-2795-8843</span>
                    <span>E-mail : skaehcjdsus@naver.com</span>
                </div>
            </div>
            <div class="right-con">
                <div>
                    <span>BANK INFO</span>
                </div>
                <div>
                    <span>신한은행 : 110-380-127772</span>
                </div>
                <div>
                    <span>예금주 : 박장규</span>
                </div>
            </div>
        </div>
    </div>
</footer>
