.deposit-area .title {
    border-bottom: 1px solid var(--color-border-color);
    font-weight: bold;
}

.deposit-area .red {
    font-weight: 600;
    font-size: 12px;
}

.deposit-area .border {
    border-radius: 5px;
}

.deposit-area .deposit-info {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    gap: 10px;
}



.msg_modal {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1E90FF;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid;
    text-align: center;
    padding: 30px 50px;
    border-radius: 10px;
}

.msg_modal button {
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    padding: 3px 8px;
    font-size: 14px;
    background-color: #fff;
}

.msg_modal button:active {
    background-color: #e7e7e7;
}