/* ----------------- 그래프 css ----------------- */

/* 기본 상태 */
.index-wrap .top-menus::-webkit-scrollbar {
    height: 6px;

}

.index-wrap .top-menus::-webkit-scrollbar-track {
    background: transparent;
}

.index-wrap .top-menus::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    cursor: pointer;

}

/* hover 시만 진해짐 */
.index-wrap .top-menus:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.35);
}

/* -------------------------------------------- */

.index-wrap {
    margin: 0 auto;
    min-width: 1248px;
    width: 100px;
    padding: 12px;
}

.index-wrap .top-menus {
    width: 100%;
    overflow-x: auto;
    display: flex;
    gap: 5px;
    padding: 5px 0 10px 0;
}

.index-menu {
    padding: 10px 5px;
    background-color: #fff;
    width: 150px;
    flex-shrink: 0;
    text-align: center;
    font-size: 14px;
    border: 1px solid #000;
}

.index-menu:hover {
    background-color: #eeeeee;
}

.index-menu li:nth-child(1) {
    font-weight: 500;
}

.index-con {
    margin-top: 10px;
}

.table-area {
    margin-top: 20px;
}

.chart-area,
.table-area {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.chart-area .chart,
.table-area .table {
    background-color: #fff;
    min-width: 0;
    border: 1px solid #e9e9e9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    box-sizing: border-box;
}

.table-area .table {
    min-height: 150px;
}
#order_count {
    width: 100%;
}

.table-area .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.table-area .title span:nth-child(1) {
    font-weight: bold;
}

.table-area .title span:nth-child(2) {
    background-color: #3E8EDE;
    padding: 3px 8px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.table-area .title span:nth-child(2):hover {
    background-color: #5499df;
}

.table-area .title span:nth-child(2):active {
    transform: translate(1px, 1px);
}

.item-info {
    margin-top: 5px;
}

.item-info table thead td {
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    border-bottom: 1px solid #e9e9e9;
    padding: 5px;
}

.item-info table tbody td {
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid #e9e9e9;
    padding: 3px 0;
}

@media (max-width:1248px) {
    .index-wrap {
        min-width: 100%;
    }
}

@media (max-width: 1024px) {
    .index-wrap {
        width: 100%;
        padding: 12px;
    }
}

@media (max-width: 500px) {
    .chart-area,
    .table-area {
        grid-template-columns: repeat(1, 1fr);
    }
}