.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    width: 400px;
    height: 120px;
    background-color: #fff;
    border: 1px solid #E2E2E2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    gap: 10px;
    color: #fff;
}

.modal.success {
    background-color: #0d6efd;
}

.modal.warning {
    background-color: #F59E0B;
}

.modal.error {
    background-color: #e25f6c;
}